h2 {
    color: #5fcffc;
    background-color: rgb(89, 151, 0);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    /* don't use background like this */
    background: orange;
}

body {
    background-color: #c96de2;
}